*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-body: #2a282f;
  --bg-section: rgb(57, 55, 69);
  --bg-calculator: rgb(90, 90, 90);
  --border-calculator: #f4f4f4;
  --shadow-calculator: #000;
  --display-bg: rgb(176, 221, 211);
  --display-border: rgb(40, 40, 40);
  --display-shadow: black;
  --button-text-color: #f4f4f4;
  --button-bg-number: rgb(111, 111, 111);
  --button-bg-operator-special: rgb(50, 50, 50);
  --button-hover-bg: rgb(57, 55, 69);
}

@font-face {
  font-family: "Segment7";
  src: url("../assets/fonts/Segment7Standard.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--bg-body);
}

section {
    width: 800px;
    height: 800px;
    margin: 100px auto;
    background-color: var(--bg-section);
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

.calculator {
    background-color: var(--bg-calculator);
    width: 400px;
    height: 600px;
    border: 2px solid var(--border-calculator);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px var(--shadow-calculator);

    display: flex;
    flex-direction: column;
  }

.display {
  width: 360px;
  height: 100px;
  font-family: "Segment7", monospace;
  font-size: 4rem;
  text-align: right;
  padding: 10px 10px 0 5px;
  background-color: var(--display-bg);
  margin: 30px auto;
  border: 2px solid var(--display-border);
  box-shadow: inset 0 0 4px 2px var(--display-shadow);
  border-radius: 4px;
}

.keyboard {
  width: 90%;
  height: 100%;
  margin: 40px auto 20px;

  display: grid;
  gap: 4px;
  grid-template-columns: repeat(5, 1fr);
}

button {
  border: inset 1px solid black;
  color: var(--button-text-color);
  font-size: large;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.1s ease;

  &:hover {
    background-color: var(--button-hover-bg);
  }
  &:active {
    border: 2px solid black;
  }
}

.btn-number,
.btn-dot {
  background-color: var(--button-bg-number);
}

.btn-operator,
.btn-specialFunct {
  background-color: var(--button-bg-operator-special);
}

.btn-specialFunct.btn-plus-minus{
  background-color: var(--button-bg-number);
  
  &:hover {
    background-color: var(--button-hover-bg);
  }
}

.btn-ca,
.btn-c {
  color: orange;
}

.btn-wide {
  /* prend deux cases en hauteur */
  grid-row: span 2;
}

.btn-rac::before,
.btn-multi::before,
.btn-division::before,
.btn-plus-minus::before {
  content: "";
  font-size: 1.2rem;
}

.btn-rac::before {
  content: "√";
}

.btn-multi::before {
  content: "×";
}

.btn-division::before {
  content: "÷";
}

.btn-plus-minus::before {
  content: "±";
}
